<div class="button_wrapper">
<img [src]="pathRed" class="buttons" (click)=playnote($event)/>
<img [src]="pathBlue" class="buttons" (click)=playnote($event) />
<img [src]="pathGreen" class="buttons" (click)=playnote($event)/>
<img [src]="pathYellow" class="buttons" (click)=playnote($event)/>
</div>


<button *ngIf="!clickedOnRandom" (click)=playRandom()>click to listen...</button>
<button *ngIf="clickedOnRandom" disabled> Disabled...</button>

<div class="result">
{{gameResult}}
</div>


<button (click)=StartNewGame()>Start a new game!</button>

